@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;500;700;900&family=Yellowtail&display=swap');

/*********************************
* ! Style rules for defult section
**********************************/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 
}
/*********************************
* ! Style rules for common componant section
**********************************/


/*********************************
* ! Style rules for navber section
**********************************/
.team-cart-parent{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
 
    
     
     
}
 
.team-cart-img{
    text-align: center;
    margin-top: 30px;
   
}
.team-img{
     width: 200px;
     height: 200px;
    border-radius: 50%;
     

   
  
    
   
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.team-cart{
  width: 300px;
  
 
  margin-top: 30px;
  position: relative;
  box-shadow: 5px 5px 5px gray;
   
 
    
    
}
.team-short-tittle{
    margin-top: 40px;
    
    padding: 15px;
    background-color: black;
    color: #fff;
    border-top: 10px solid #e8080880 ;
}
.team-members-hover{
    padding: 20px;
    border-top: 10px solid #e8080880 ;
    background-color: black;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden; 
    box-shadow: 5px 5px 5px gray;
}
.team-members-hover p{
   font-size: 14px;
}
.team-cart:hover .team-members-hover{
    opacity: 1;
    visibility: visible;
    transition: .5s;
}
.team-members-hover p{
    display: flex;
    align-items: center;
    gap: 10px;
  
}
.team-members-hover span{
    background-color: #e8080880;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;

}
.team-members-hover h4{
 margin-top: 20px;
}
.team-members-hover p{
    margin-top: 20px;
   
}
 
.team-members-hover  svg{
   
    color: #fff;
    width: 15px;
    height: 15px;
  
  
    
}
h4{
    font-size: 20px;
}
.team-tittle{
    text-align: center;
    margin-top: 30px;
}
.team-tittle h2{
    font-size: 30px;
    margin-top: 10px;
    text-transform: uppercase;
}




/* alada cart */
.team-cart-2 {
    width: 300px;
    padding: 20px;
    border-top: 10px solid #e8080880 ;
    background-color: black;
    color: #fff;
}

.team-cart-2 a{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
}
.team-icon-1 a span{
    background-color: #e8080880;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;

}
.team-icon-1 svg{
    color: #fff;
    width: 15px;
    height: 15px;
  
}
.team-cart-2 h4{
    margin-top: 20px;
}
/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/

/*********************************
* ! Style rules for..  section
**********************************/
/*********************************
* ! Style rules for..  section
**********************************/